[icingaweb_ldap]
type = "ldap"
hostname = "{{ LDAP_DOMAIN }}"
port = "{{ LDAP_PORT }}"
encryption = "none"
root_dn = "{{ LDAP_ROOT_DN }}"
bind_dn = "{{ LDAP_BIND_DN }}"
bind_pw = "{{ LDAP_BIND_PW }}"

[icinga_ido]
type = "db"
db = "mysql"
host = "{{ ICINGA_IDO_HOST }}"
port = "{{ ICINGA_IDO_PORT }}"
dbname = "{{ ICINGA_IDO_DBNAME }}"
username = "{{ ICINGA_IDO_USERNAME }}"
password = "{{ ICINGA_IDO_PASSWORD }}"
charset = "latin1"

[director_ido]
type = "db"
db = "mysql"
host = "{{ DIRECTOR_IDO_HOST }}"
port = "{{ DIRECTOR_IDO_PORT }}"
dbname = "{{ DIRECTOR_IDO_DBNAME }}"
username = "{{ DIRECTOR_IDO_USERNAME }}"
password = "{{ DIRECTOR_IDO_PASSWORD }}"
charset = "utf8"
