[SEC_Icinga_Developer]
groups = "SEC_Icinga_Developer"
permissions = "module/monitoring, monitoring/command/comment/add, monitoring/command/send-custom-notification"

[SEC_Icinga_Sysadmin]
groups = "SEC_Icinga_Sysadmin"
permissions = "*"
